.App {
  text-align: center;
}

body {
  background-color: grey; /* Red theme */
  color: white;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #a80000;
  -webkit-text-stroke: 3px #d4d4d4;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #a80000;
  -webkit-text-stroke: 1px #d4d4d4;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); 
  margin-bottom: 50px;
}

.input-box {
  width: 90%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 20px; 
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #a80000;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  width: 70%; 
}

button:hover {
  background-color: white;
  color: #a80000;
}

.logo {
  width: 90%; 
}
