/* BusReport.css */

/* Container */
.BusReport {
  margin: 0 auto;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  margin: 0 auto; /* Center the table */
}

/* Table Header */
th {
  background-color: #a80000;
  color: white;
  padding: 10px;
  text-align: left;
}

/* Table Body */
td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(199, 196, 196); 
  color: black;
}

tr:nth-child(odd) {
  background-color: #afaeae; 
  color: black;
}

/* Hover Effect */
tr:hover {
  background-color: white; 
}
