/* LogSchedule.css */
html{
  font-weight: bold;
}

body{
  background-color: rgb(219, 219, 219);
  color: black;
}

.child-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between the buttons */
  margin-bottom: 20px;
}

.child-buttons button {
  background-color: #a80000; /* Red background color */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 40%; /* Adjust width as needed */
  flex: 0 0 auto; /* Prevent buttons from stretching */
}

.child-buttons button.selected {
  background-color: #fff; /* White background color */
  color: #a80000; /* Red text color */
  border: 1px solid #a80000; /* Red border */
}

  

h1 {
  color: #a80000; /* Red color */
}

h2 {
  color: #333; /* Black color */
}

select {
  margin-left: 10px;
  padding: 5px;
  color: #a80000;
}

button {
  background-color: #a80000; /* Red background color */
  color: #fff;
  border: none;
  cursor: pointer;
}


